<launch>
  
    <arg name="rvizconfig" default="$(find cx_gazebo)/config/cx_arm.rviz"/>
    <!-- Launch Gazebo  -->
    <include file="$(find cx_gazebo)/launch/cx_arm_world.launch" />

    <!-- ros_control arm launch file -->
    <!-- <include file="$(find cx_gazebo)/cx_arm/launch/cx_arm_gazebo_states.launch" />    -->

    <!-- ros_control trajectory control dof arm launch file -->
    <!-- <include file="$(find cx_gazebo)/cx_arm/launch/cx_trajectory_controller.launch" /> -->

    <!-- moveit launch file -->
    <!-- <include file="$(find cx_moveit_config)/cx_arm/launch/moveit_planning_execution.launch" >
    <arg name="rviz_gazebo_config" value="$(arg rvizconfig)" /> -->
    <!-- </include> -->

</launch>
